//gitlab.com/api/v4/projects/32284792/packages/npm/:_authToken=${GITLAB_NPM_AUTH_TOKEN}
//gitlab.com/api/v4/packages/npm/:_authToken=${GITLAB_NPM_AUTH_TOKEN}
//gitlab.com/api/v4/projects/:_authToken=${GITLAB_NPM_AUTH_TOKEN}
@inkpod:registry=https://gitlab.com/api/v4/projects/32284792/packages/npm/
